@use '../../scss/global' as *;

.product {
  padding: 150px 0;
  @media (max-width: $mobileSmall) {
    padding: 50px 0;
  }
}

.wrap {
  @media (max-width: $mobileSmall) {
    margin-top: 70px;
  }
  padding-top: 50px;
  // border-top: 1px solid #d4d4d4;
  display: grid;
  grid-template-columns: percent(611, 1300) 1fr;
  align-items: center;
  @media (max-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.body {
  @media (max-width: $tablet) {
    width: 100%;
  }
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: $tablet) {
    width: 100%;
  }

  img {
    width: 400px;
    height: 550px;
    border-radius: 30px;
    @media (max-width: $tablet) {
      width: 100%;
      object-fit: cover;
    }
  }
  position: relative;
}

.category {
  position: absolute;
  top: 40px;
  left: 140px;

  @media (max-width: $tablet) {
    left: 40px;
  }

  span {
    color: #fff;
    background-color: #274c5b;
    border-radius: 8px;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 600;
  }
}

.content {
  margin-left: 0px;
  max-width: 600px;
  @media (max-width: $tablet) {
    margin-top: 50px;
  }
}

.title {
  font-size: 40px;
  font-weight: 700;
  @media (max-width: $mobileSmall) {
    font-size: 30px;
  }
}
.rating {
  color: goldenrod;
  font-size: 25px;
  margin-top: 15px;
}

.prices {
  margin-top: 100px;
  @media (max-width: $tablet) {
    margin-top: 30px;
  }
}

.price {
  color: #525c60;
  margin-bottom: 15px;
  font-family: Open Sans, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.8;
}

.desc {
  color: #525c60;
  margin-top: 25px;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
}

.action {
  display: flex;
  align-items: center;
  margin-top: 30px;
  @media (max-width: $mobileSmall) {
    flex-wrap: wrap;
  }
}

.add {
  width: 50%;
  margin-left: 20px;
  border-radius: 16px;
  color: $primaryWhite;
  background-color: $textBlue;
  min-height: 48px;
  justify-content: center;
  align-items: center;
  padding: 16px 26px;
  letter-spacing: 0.2;
  line-height: 150%;
  text-align: center;
  font-weight: 700;
  transition: all 0.2s linear;
  @media (max-width: $mobileSmall) {
    padding: 12px 20px;
    margin-left: 0;
    font-size: rem(15);
    margin-top: 20px;
  }
}

.quan {
  color: #274c5b;
  margin-bottom: 0;
  padding-right: 10px;
  font-weight: 700;
  font-size: 20px;
}

.arrow {
  margin-left: 10px;
  margin-top: 5px;
  vertical-align: text-top;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  @media (max-width: $mobileSmall) {
    flex-wrap: wrap;
  }
}

.active_btn {
  background-color: #274c5b !important;
  color: #fff !important;
}

.btn {
  color: #274c5b;
  background-color: #eff6f1;
  border-radius: 16px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px 50px;
  font-family: Open Sans, sans-serif;
  font-size: 25px;
  font-weight: 700;
  transition: background-color 0.2s, color 0.2s;
  @media (max-width: $mobileSmall) {
    &:not(:first-child) {
      margin-top: 20px;
    }
    font-size: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.text {
  text-align: center;
  color: #525c60;
  margin-bottom: 15px;
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.textShow {
  text-align: center;
  color: #525c60;
  margin-bottom: 15px;
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8;
  display: block;
  opacity: 1;
  visibility: visible;
  @media (max-width: $mobileSmall) {
    font-size: 18px;
  }
}

.minus {
  border-right: 2px solid $textBlue;
  width: 57px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: $mobileSmall) {
    width: 100%;
    height: 100%;
  }
}

.disabled {
  border-right: 2px solid $textBlue;
  width: 57px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: not-allowed;
  @media (max-width: $mobileSmall) {
    width: 100%;
    height: 100%;
  }
}

.plus {
  border-left: 2px solid $textBlue;
  width: 57px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: $mobileSmall) {
    width: 100%;
    height: 100%;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $textBlue;
  border-radius: 10px;
  @media (max-width: $mobileSmall) {
    width: 51%;
    height: 47px;
  }
}

.input {
  // border: 2px solid $textBlue;
  // border-bottom: 2px solid $textBlue;
  width: 55px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 8px;
  @media (max-width: $mobileSmall) {
    width: 30px;
    height: 100%;
  }
  border-radius: 10px;
}
