.header {
   width: 100%;
   padding: 70px 120px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
   display: flex;
   align-items: center;
}

.image {
   width: 37px;
   height: 54px;
}

.text {
   font-size: 38px;
   line-height: 44px;
   margin-left: 8px;
}

.nav {
   flex: 0 1 565px;
}

.menu {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.item {
   font-size: 20px;
   line-height: 24px;
   font-weight: 700;
}

.search {
  
  
}

.bar {
   display: flex;
   align-items: center;
   justify-content: center;
}

.input {
   flex: 0 0 276px;
   background-color: #fafafa;
   padding: 14px 10px;
   border-radius: 36px;
   // position: relative;
}

.outsearch {
   position: absolute;
   z-index: 5;
   top: 12px;
   right: 10px;
}


.inputwr {
   position: relative;
   &::after {
      content: "";
      position: absolute;
      width: 42px;
      height: 42px;
      right: 3px;
      top: 2.5px;
      background-color: #7EB693;
      border-radius: 50%;
   }
}

.cart {
   border: 1px solid #e0e0e0;
   padding: 15px 25px;
   border-radius: 36px;
   position: relative;
   margin-left: 10px;
   &::after {
      content: "";
      position: absolute;
      width: 43px;
      height: 43px;
      left: 2.5px;
      top: 2.7px;
      background-color: #274C5B;
      border-radius: 50%;
   }
}

.outcart {
   position: absolute;
   z-index: 5;
   top: 12px;
   left: 11px;
}

.name {
   padding-left: 30px;
   font-weight: 600;
   font-size: 18px;
}

.login {
   padding-left: 30px;
   font-weight: 600;
   font-size: 18px;
}

button {
   display: flex;
   align-items: center;
   text-align: center;
}

.aiout {
   margin-left: 10px;
}