@use '../../scss/global' as *;

.comments {
  background-color: #f1edea;
  border-radius: 30px;
}

.body {
  padding: 50px;
}

.heading {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 600;
}

.image {
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  
}

.desc {
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   margin-left: 20px;
   padding-bottom: 10px;
   border-bottom: 1px solid #cdd4d7;
}
.name {
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 5px;
   
}
.text {
   color: #525c60;
   font-family: Open Sans, sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 1.8;
}

.input {
   display: flex;
//   align-items: center;
  justify-content: center;
  margin-bottom: 20px;
 
}

.comments {
   width: 1000px;
   margin-left: 20px;
   padding: 20px;
}

.button {
   
   display: flex;
   align-items: center;
   justify-content: center;
   button {
      background-color: $textBlue;
      color: #fff;
      padding: 22px;
      border-radius: 10px;
   }
}