@use '../../scss/global' as *;

.sign {
  padding: 500px 0;
//   background-color: #e5e5e5;
}
.background {
  width: 430px;
  height: 480px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
  z-index: 120;
}
.shape:first-child {
  background: linear-gradient($primaryGreen, #eff6f1);
  left: -80px;
  top: -80px;
}
.shape:last-child {
  background: linear-gradient(to right, $primaryYellow, #f09819);
  right: -30px;
  bottom: -80px;
}

.user {
   margin-top: 15px;
   margin-bottom: 30px;
   text-align: center;
}
.form {
  height: 620px;
  width: 400px;
  // background-color: rgba(0, 0, 0, 0.13);
  background-color: rgba(67, 66, 66, .7);
  // background-color: #434242;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
.form * {
  color: $textBlue;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
  color: #fff;
}
.form h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
}

// label {
//   display: block;
//   margin-top: 30px;
//   font-size: 20px;
//   font-weight: 700;
  
// }
.input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #e5e5e5;
}
.button {
   border-radius: 16px;
   background-color: $primaryGreen;
   height: 50px;
   justify-content: center;
   align-items: center;
   padding: 22px 36px;
   letter-spacing: 0.2;
   width: 100%;
   line-height: 150%;
   text-align: center;
   font-weight: 700;
   transition: all .2s linear;
   color: $primaryWhite;
   font-size: 20px;
   margin-bottom: 20px;
   @media (max-width:$mobileSmall) {
      padding: 12px 26px;
   }
}
.btn {
   margin-top: 30px;
   width: 100%;
}
.social {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social div {
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 10px 10px 10px 5px;
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icon {
  gap: 10px;
}
.social div:hover {
  background-color: rgba(255, 255, 255, 0.47);
}
.social .fb {
  margin-left: 25px;
}
.social i {
  margin-right: 4px;
}

.image {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
   img {
      object-position: right;
   }
   z-index: -1;
}

._ibg img {

   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   object-fit: cover;
   z-index: -1;
}

.errorBorder {
  border: 2px solid red;
  transition: all .5s ease;
}

.userImage {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
}