@use '../../scss/global' as *;

.hero, .store, .team {
   padding: 130px 0;
   @media (max-width: $tablet) {
      padding: 80px 0;
   }
   @media (max-width: $mobileSmall) {
      padding: 60px 0;
   }

}
.team {
   text-align: center;
}

.store {
   background-color: #f9f8f8;
}

.body {
   display: grid;
   grid-template-columns: percent(650, 1300) 1fr;
   align-items: center;
   @media (max-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
   }
}

.image {
   img {
      max-width: 100%;
   }
}

.heading {
   margin-bottom: 20px;
}

.subtitle {
   color: $primaryGreen;
   font-family: $secondaryFontFamily;
   font-size: rem(36);
   line-height: calc(49 / 36 * 100%);
   
}

.title {
   font-size: 50px;
   line-height: calc(80 / 60 * 100%);
   font-weight: 800;
   letter-spacing: 0.2px;
   margin-bottom: 35px;

}


@media (max-width: $mobile) {
   .subtitle {
      font-size: rem(28);
   }
   .title {
      font-size: rem(40);
   }
}

@media (max-width: $mobileSmall) {
   .subtitle {
      font-size: rem(28);
   }
   .title {
      font-size: rem(26);
   }
}

.texts {
   line-height: 1.8;
   font-weight: 400;
   letter-spacing: 1.1px;
   font-size: 18px;
   color: $textGray;
   // p:first-child {
   //    margin-bottom: 20px;
   // }
   margin-bottom: 30px;
}

.priority {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 70px;
   @media (max-width: $tablet) {
      flex-wrap: wrap;
   }

}

.trac {
   position: relative;
   z-index: 5;
   &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0px;
      left: -4px;
      width: 18px;
      height: 18px;
      background-color: #fff4cd;
      border-radius: 50%;
   }
   @media (max-width: $tablet) {
      margin-right: 10px;
   }
   @media (max-width: $mobile) {
      margin-bottom: 20px;
    }
}
.chem {
   position: relative;
   z-index: 5;
   &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0px;
      left: 1px;
      width: 18px;
      height: 18px;
      background-color: #fff4cd;
      border-radius: 50%;
   }
   @media (max-width: $mobile) {
      margin-bottom: 20px;
    }
}

.item {
   display: flex;
   align-items: center;
   @media (max-width: $mobile) {
      flex-direction: column;
      align-items: flex-start;
   }
   &:first-child {
      @media (max-width: $tablet) {
         margin-bottom: 30px;
      }
   }
   @media (max-width: $tablet) {
      width: 100%;
   }
}

.text {
   padding-left: 20px;
   font-size: 25px;
   @media (max-width: $mobileSmall) {
      font-size: 20px;
   }
   @media (max-width: $mobile) {
     padding-left: 0;
   }
}

.button {
   border-radius: 16px;
   background-color: $textBlue;
   min-height: 48px;
   justify-content: center;
   align-items: center;
   padding: 25px 36px;
   letter-spacing: 0.2;
   line-height: 150%;
   text-align: center;
   font-weight: 700;
   transition: all .2s linear;
   color: $primaryWhite;
   @media (max-width: $mobileSmall) {

      padding: 12px 20px;
      font-size: 15px;
   }
}

.arrow {
   margin-left: 10px;
   vertical-align: text-top;
}

// store section 

.store_wrap {
   border-radius: 49px;
   padding: 24px 50px 24px 50px;
   background-color: #ececec;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   position: relative;
   margin-bottom: 15px;
   &::after {
      content: '';
      position: absolute;
      width: 19px;
      height: 19px;
      top: 22px;
      left:20px;
      background-color: $primaryGreen;
      border-radius: 50%;
   }
   &::before {
      content: '';
      position: absolute;
      width: 13px;
      height: 13px;
      top: 25px;
      left:23px;
      z-index: 1;
      background-color: #ececec;
      border-radius: 50%;
   }
}

._pl {
   padding-left: 50px;
   @media (max-width: $mobile) {
      padding-left: 0px;
   }
}

.wrapper {
   display: grid;
   grid-template-columns: percent(700, 1300) 1fr;
   align-items: center;
   @media (max-width: $tablet) {
    display: flex;
   }
   margin-bottom: 50px;
}

.store_image {
   img {
      max-width: 100%;
      border-radius: 30px;
   }
}

.cards {
   display: grid;
   gap: 22px;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
   background-color: #fff;
   border-radius: 30px;
  
}

.inner {
   padding: 52px 36px 35px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   h6 {
      font-size: 25px;
      font-weight: 600;
      line-height: 1.3;
      margin-bottom: 15px;
   }
   p {
      line-height: 1.8;
      font-weight: 400;
      letter-spacing: 0.5px;
      font-size: 18px;
      color: $textGray;
      text-align: center;
   }
}

.icon {
   background-color: #f9f8f8;
   width: 90px;
   flex: 0 0 90px;
   border-radius: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   z-index: 10;
   &::after {
      content: '';
      position: absolute;
      width: 29px;
      height: 29px;
      top: 18px;
      right: 21px;
      background-color: #fff4cd;
      border-radius: 50%;
      z-index: -1;
   }
   margin-bottom: 20px;
}

.heading {
   p {
      line-height: 1.8;
      font-weight: 400;
      letter-spacing: 0.5px;
      font-size: 18px;
      color: $textGray;
      text-align: center;
   }
}



._ibg {
   position: relative;
}
._ibg img {

   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   object-fit: cover;
}

.team_cards {
   padding: 30px 0;
   display: grid;
   gap: 32px;
   grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
  
}

.team_img {
   padding: 0px 0px calc(301px / 305px)  * 100% 0px;
   img {
     border-top-left-radius: 30px;
     border-top-right-radius: 30px;
   }
}

.team_card {
   display: flex;
   flex-direction: column;
   border-radius: 30px;
   transition: all .3 ease;
   &:hover {
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      .bottom {
         background-color: #fff;
      }
   }
}

.bottom {
   padding: 30px 35px 35px;
   background-color: #f8f9f9;
   border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   transition: all .3 ease;
}

.name {
   font-size: 24px;
   font-weight: 700;
   margin-bottom: 10px;
}

.prof {
   color: $primaryGreen;
   font-family: $secondaryFontFamily;
   font-size: 22px;
   text-align: left;
}

.social {
   display: flex;
   align-items: flex-end;
   gap: 5px;
}
