@use '../../scss/global' as *;

.offer {
   padding: 80px 0px;
   display: flex;
   flex-direction: column;
   align-items: center;
   @media (max-width: $mobileSmall) {

      padding: 50px 0px;
   }
}

.fruit, .veget {
   position: relative;
   margin: 20px 0;
}

.veget {
   margin-left: 20px;
}

.banner, .vbanner {
   position: relative; /* Add relative positioning to the image containers */
   img {
      border-radius: 30px;
      max-width: 100%;
   }
}



.content, .vcontent {
   position: absolute; /* Maintain absolute positioning on the content divs */
   z-index: 2;
   text-align: center;
   padding: 50px;
}

@media screen and (min-width: $mobile) {
   .offer {
      padding: 130px 0px;
      flex-direction: row;
      justify-content: space-between;
      align-items: initial;
   }
  
}

@media screen and (min-width: 1024px) {
   .content, .vcontent {
      padding: 100px 50px;
      text-align: initial;
   }
}

@media (max-width: 1024px) {
   .content, .vcontent {
      padding: 50px;
      text-align: initial;
   }
   
}

@media screen and (max-width: $mobile) {
   .ftitle {
      color: $primaryWhite;
      font-size: rem(36);
      font-family: $secondaryFontFamily;
      margin-bottom: 20px;
   }

   .veget {
      margin-left: 0px;
   }
   
   .fsubtitle {
      color: $primaryWhite;
      font-size: rem(40);
   }
   
   .vtitle {
      color: $primaryGreen;
      font-size: rem(36);
      font-family: $secondaryFontFamily;
      margin-bottom: 20px;
   }
   
   .vsubtitle {
      color: $textBlue;
      font-size: rem(40);
   }
}

.ftitle {
   color: $primaryWhite;
   font-size: rem(36);
   font-family: $secondaryFontFamily;
   margin-bottom: 20px;
}

.fsubtitle {
   color: $primaryWhite;
   font-size: rem(40);
}

.vtitle {
   color: $primaryGreen;
   font-size: rem(36);
   font-family: $secondaryFontFamily;
   margin-bottom: 20px;
}

.vsubtitle {
   color: $textBlue;
   font-size: rem(40);
}

@media (min-width: $mobile) and (max-width: 1024px) { 
   .ftitle {
      color: $primaryWhite;
      font-size: rem(26);
      font-family: $secondaryFontFamily;
      margin-bottom: 20px;
   }
   
   .fsubtitle {
      color: $primaryWhite;
      font-size: rem(30);
   }
   
   .vtitle {
      color: $primaryGreen;
      font-size: rem(26);
      font-family: $secondaryFontFamily;
      margin-bottom: 20px;
   }
   
   .vsubtitle {
      color: $textBlue;
      font-size: rem(30);
   }
}

@media (max-width:$mobileSmall) {
   .ftitle {
      color: $primaryWhite;
      font-size: rem(25);
      font-family: $secondaryFontFamily;
      margin-bottom: 20px;
   }
   
   .fsubtitle {
      color: $primaryWhite;
      font-size: rem(26);
   }
   
   .vtitle {
      color: $primaryGreen;
      font-size: rem(25);
      font-family: $secondaryFontFamily;
      margin-bottom: 20px;
   }
   
   .vsubtitle {
      color: $textBlue;
      font-size: rem(26);
   }
}

@media (max-width:350px) {
   .content, .vcontent {
      padding: 30px;
      text-align: initial;
   }
}